           <div class="alert alert-danger text-center animated fadeInDown" 
                ng-show="ctrlForm.errorMsg"
                    >
            {{ctrlForm.errorMsg}}
           </div>

            <form name="queryForm" class="animated fadeIn form-inline" 
                    ng-submit="ctrlForm.search({data:ctrlForm.data})" novalidate>
                <div class="form-group"> 
                <div class="input-group">
                    <input type="text" name="value" 
                            class="form-control" 
                            ng-model="ctrlForm.data"
                            placeholder="Enter your location"
                            ng-pattern="/^(\D)+$/"
                            required>
                    <div class="input-group-addon padding-zero">
                        <button type="submit" class="btn btn-default  custom-btn" ng-disabled="queryForm.$invalid"> 
                        Search
                        </button>
                    </div>
                </div>
                </div>
                
            </form>


            <p class="help text-center animated fadeIn" ng-show="queryForm.value.$error.pattern">Please enter text only!</p>